.awesome {
    padding: 54px 0 58px;
    min-height: 100vh;
    background-color: #FFFFFF;
}
.awesome__tittle {
    margin: 0 0 54px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
}
hr {
    margin: auto;
}
.awesome__tittle--description {
    margin: 40px 0 71px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    text-align: center;
}
.awesome__about--tittle {
    margin: 34px 0 42px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    text-align: center;
}
.awesome__about--text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-align: center;
}
.awesome__about{
    width: 370px;
    height: 383px;
    margin: 0 10px 0 0;
    display: inline-block;
    align-items: center;
    text-align: center;
}
.awesome__about--icon {
    text-align: center;
    display: inline-block;
}
@media (max-width: 1024px) {
    .awesome__tittle {
        font-size: 24px;
        line-height: 28px;
    }
    .project__line {
        width: 142px;
    }
    .awesome__tittle--description , .awesome__about--text {
        font-size: 14px;
        line-height: 16px;
    }
    .awesome__about--tittle {
        font-size: 18px;
        line-height: 25px;
    }
    .awesome__about {
        max-width: 318px;
        height: 310px;
    }
    .awesome__about > img {
        width: 79px;
        height: 79px;
    }
}
@media (min-width: 320px) and (max-width: 768px) {
    .awesome__about {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 288px;
        height: 318px;
    }
    .awesome__tittle {
        font-size: 18px;
        line-height: 21px;
    }
    .awesome__tittle--description {
        font-size: 13px;
        line-height: 15px;
    }
    .awesome__about--tittle {
        font-size: 18px;
        line-height: 25px;
    }
    .awesome__about--text {
        font-size: 14px;
        line-height: 16px;
    }
    .project__line {
        width: 134px;
    }
}