.banner {
    background-image: url(../images/banner/image.png);
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0 auto;
    padding: 208px 0 185px;
    position: relative;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
.banner__info{
    position: relative;
    z-index: 10;
}
.banner__tittle {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin: 73px 0 55px;
    max-width: 670px;
}
.banner__line {
    margin-left: 0;
}
.banner__description {
    max-width: 270px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin: 42px 0;
}
.banner__button {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-transform: capitalize;
    width: 270px;
    height: 58px;
    border: 2px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; 
}
.form {
    width: 470px;
    padding: 29px 50px 0;
    border-radius: 10px;
    background-color: #FFFFFF;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form__tittle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    
}
.word {
    color: #EC7979;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
}
.banner__box {
    display: flex;
    justify-content: space-between;
}
.form__userinfo {
    width: 100%;
    height: 35px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    margin: 0 0 33px;
}
.form__userinfo::placeholder {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
}
.form__submit {
    width: 470px;
    height: 60px;
    background-color: #EC7979;
    border-radius: 0px 0px 10px 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
    border: none;
    position: relative;
    left: -50px;
    
}
@media (max-width: 1024px) {
    .banner {
        padding: 137px 20px 106px 0;
    }
    .logo:first-child {
        width: 69px;
        height: 41px;
    }
    .logo:last-child {
        width: 43px;
        height: 41px;
    }
    .banner__tittle {
        font-size: 36px;
        line-height: 42px;
        max-width: 454px;
    }
    .banner__line {
        width: 115px;
    }
    .banner__description {
        font-size: 14px;
        line-height: 16px;
    }
    .banner__button {
        width: 183px;
        height: 50px;
        font-size: 18px;
        line-height: 25px;
    }
    .form , .form__submit {
        max-width: 398px;
    }
    .form__tittle {
        font-size: 18px;
        line-height: 25px;
    }
}
@media (min-width: 320px) and (max-width: 768px) {
    .banner {
        padding: 84px 0 50px;
    }
    .banner__box {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .form {
        max-width: 288px;
        margin-top: 56px;
    }
    .form__submit {
        max-width: 288px;
    }
    .banner__info  {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .banner__logo__container {
        display: none;
    }
    .banner__tittle {
        font-size: 36px;
        line-height: 42px;
    }
    .banner__line {
        width: 134px;
        margin: 0 auto;
    }
    .banner__description {
        font-size: 14px;
        line-height: 16px;
    }
    .banner__button {
        width: 288px;
        height: 50px;
        font-size: 18px;
        line-height: 25px;
    }
}