@import url(./tabs.css);
@import url(./awesome.css);
@import url(./prices.css);
@import url(./reviews.css);
@import url(./header.css);
@import url(./banner.css);
@import url(./footer.css);
@import url(./forms.css);
@import url(./social.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content {
    max-width: calc(1170px + 15px*2);
    padding: 0 15px;
    margin: 0 auto;
}
input , textarea {
    outline: none;
}
@media (max-width: 1024px) {
    .content {
        max-width: calc(992px + 16px*2);
    }
}
@media (min-width: 320px) and (max-width: 768px) {
    .content {
        max-width: calc(100% - 16px*2);
        padding: 16px;
    }
}