.tabs {
    padding: 99px 0 50px;
    min-height: 100vh;
    background-color: #fff;
}

.tabs__menu--btn--active {
    width: 203px;
    height: 40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: 0;
    color: #333333;
    background-color: transparent;
    border: 1px solid #C6CBCD;
    border-radius: 5px 5px 0px 0px;
    border-bottom: none;
}
.tabs__menu--btn {
    width: 184px;
    height: 40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #C6CBCD;
}
.empty {
    width: calc(100% - 203px - 184px*2);
    height: 40px;
    border: none;
    border-bottom:1px solid #C6CBCD;
    vertical-align: bottom;
}
.tabs__menu {
    list-style: none;
    font-size: 0;
}
.tabs__menu > li {
    display: inline-block;
}
.tabs__about__tittle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    text-align: start;
    color: #000000;
    
}
.tabs__about__text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-align: start;
}
.tabs__download {
    width: 270px;
    height: 58px;
    border: none;
    background-color: #EC7979;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    margin-top: 27px;
}
.tabs__info {
    border: 1px solid #C6CBCD;
    border-top: none;
    text-align: end;
}
.tabs__about {
    max-width: 570px;
    width: 100%;
    margin: 42px 0 0;
    vertical-align: top;
    display: inline-block;
    text-align: start;
}
@media (max-width: 1024px) {
    .tabs {
        padding: 50px 0;
    }
    .tabs__menu--btn--active {
        width: 170px;
    }
    .tabs__menu--btn {
        width: 156px;
    }
    .empty {
        width: calc(100% - 170px - 156px*2); 
    }
    .tabs__about__tittle {
        font-size: 24px;
        line-height: 33px;
    }
    .tabs__about__text {
        font-size: 14px;
        line-height: 16px;
    }
    .tabs__download {
        width: 232px;
        font-size: 18px;
        line-height: 25px;
    }
    .tabs__image {
        width: 398px;
        height: 385px;
    }
    .tabs__about {
        margin-left: 84px;
        max-width: 482px;
    }
}
@media (max-width: 768px) {
    .tabs__image {
        display: none;
    }
    .empty {
        width: calc(100% - 100px - 93px*2); 
    }
    .tabs__menu--btn--active {
        max-width: 100px;
    }
    .tabs__menu--btn {
        max-width: 93px;
    }
    .tabs__about__tittle {
        font-size: 18px;
        line-height: 25px;
        text-align: center;
    }
    .tabs__about__text {
        font-size: 13px;
        line-height: 15px;
        margin-bottom: 29px;
        text-align: center;
    }
    .tabs__download {
        max-width: 242px;
        height: 50px;
        font-size: 18px;
        line-height: 25px;
    }
    .tabs__about {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0;
    }
    .tabs__info {
        padding: 31px 20px 30px 24px;
    }
}